/* CSS HEX Palette: 
    --seasalt: #f8f8f8ff; for body background
    --white-smoke: #f2f2f2ff; for any other areas that need a background to stand out
    --jet: #333333ff; primary text 
    --dim-gray: #666666ff; secondary text
    --tan: #c5a880ff; secondary buttons with a hover state of #b08e72
    --caribbean-current: #2c6e6fff; primary buttons with a hover state of #265c5d
    --bittersweet: #ff6f61ff; any other accents
    --battleship-gray: #7f8c8dff; borders/dividers, links and their hover effects
    --charcoal: #2c3e50ff; borders/dividers, links and their hover effects
*/

body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8ff; 
}

/* Header */
.header-icon {
    max-width: 24px; 
    vertical-align: middle;
    margin-right: 10px; 
}

header {
    background-color: #333333ff; 
    color: #f8f8f8ff; 
    padding: 10px 20px;
    text-align: center;
}

.branding {
    font-size: 24px;
}

/* Main Content */
.hero {
    position: relative;
    text-align: center;
    color: #f8f8f8ff;
}

.hero-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 60vh; /* Limit height to a percentage of viewport height */
    object-fit: cover; /* Ensure the image covers the container */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin: 0;
}

/* About Us Section */
.about-us {
    background-color: #f2f2f2ff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.about-us h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-us h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Vision & Mission Section */
.vision-mission {
    padding: 20px;
    margin: 20px;
}

.vision-mission h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.vision-mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.vision, .mission {
    display: flex;
    align-items: center;
    width: 45%; 
}

.circle-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 20px; 
}

.vision-text, .mission-text {
    width: calc(100% - 170px); 
}

@media screen and (max-width: 768px) {
    .vision-mission-content {
        flex-direction: column;
    }

    .vision, .mission {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .vision-text, .mission-text {
        width: 100%;
    }

    .circle-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Footer */
footer {
    background-color: #333333ff; 
    color: #f8f8f8ff; 
    padding: 10px 20px;
    text-align: center;
}